html {
  background: url("assets/TBZry7w.gif") no-repeat center fixed;
  //background: url("assets/iI0yD9K.gif") no-repeat center fixed;
  background-size: cover;
}

body {
  background: transparent;
}

@font-face {
	font-family: Helvetica1;
	src: url('assets/HelveticaNeueLTStd-UltLt.otf');
}
@font-face {
	font-family: Helvetica2;
	src: url("assets/HelveticaNeueLTStd-UltLtCn.otf");
}

#avatar {
	width: 15em;
	margin-top: 10em;
}

div > p {
	font-family: Helvetica1;
	font-size: 40px;
	color: white;
}

#social {
	font-family: Helvetica1;
	color: white;
	font-size: 20px;
	text-decoration: none;
}

.footer {
	font-family: Helvetica1;
	font-size: 10px;
	color: grey;
}

#footer {
	text-decoration: none;
}

a {
	text-decoration: none;
	color: white;
}

div {
	width: 19em;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	height: auto;
}
